:root {
  --black: black;
  --light-grey: #cfcfcf;
  --white: white;
  --menu: #962b2b;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  color: #333;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

a {
  color: var(--black);
  text-decoration: none;
}

.body {
  background-color: var(--light-grey);
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: scroll;
  font-weight: 400;
}

.brand {
  float: right;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 20px;
  transition: transform .2s, opacity .2s;
  display: inline-block;
}

.brand:hover {
  opacity: .5;
  transform: translate(0, -5px);
}

.brand.w--current {
  cursor: pointer;
  margin-top: 8px;
  transition: transform .2s, opacity .2s;
}

.brand.w--current:hover {
  opacity: .5;
}

.container {
  display: inline;
}

.navbar {
  mix-blend-mode: normal;
  background-image: url('../images/bg_len_black.jpg');
  background-position: 0 0;
  background-size: auto;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav-link {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  font-family: fira-sans, sans-serif;
  font-size: 14px;
  transition: transform .2s, opacity .2s;
}

.nav-link:hover {
  opacity: .5;
  transform: translate(0, -5px);
}

.nav-link.w--current {
  color: #fff;
  cursor: pointer;
}

.image {
  width: 150px;
}

.nav-menu {
  float: left;
  margin-left: 20px;
  position: relative;
}

.html-embed {
  mix-blend-mode: multiply;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 976px;
  height: 800px;
  margin-top: -113px;
  display: none;
  position: relative;
}

.container-2 {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -60px;
  display: flex;
}

.paragraph {
  text-align: center;
  letter-spacing: 6px;
  text-indent: -10px;
  white-space: nowrap;
  mix-blend-mode: multiply;
  font-family: gill-sans-nova, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
}

.container-3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragraph-2 {
  text-align: justify;
  margin-top: 40px;
}

.paragraph-3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 600;
}

.misja {
  margin-top: -353px;
  overflow: hidden;
}

.witamy {
  z-index: 1;
  width: 940px;
  margin-top: 20px;
  display: flex;
  position: relative;
}

.lottie {
  z-index: -1;
  mix-blend-mode: multiply;
  justify-content: center;
  align-items: flex-start;
  width: 976px;
  height: 800px;
  margin-top: -116px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.paragraph-4 {
  text-align: center;
  letter-spacing: 10px;
  margin-top: -9px;
  margin-bottom: 46px;
  font-family: century-gothic, sans-serif;
  font-size: 81px;
}

.text-span {
  font-weight: 700;
}

.text-span-2 {
  color: red;
  font-weight: 700;
}

.section {
  padding-top: 60px;
}

.lottie-animation {
  filter: saturate(65%) contrast(200%);
  width: 850px;
  margin-left: 60px;
}

.lottie-animation-2 {
  filter: saturate(65%) contrast(200%);
  mix-blend-mode: multiply;
  display: none;
}

.dzial {
  -webkit-backdrop-filter: contrast(200%);
  backdrop-filter: contrast(200%);
  background-image: url('../images/BG_Dark_80.png');
  background-position: 0 0;
  background-size: auto;
  background-attachment: fixed;
  border-radius: 8px;
  padding: 3px 10px;
  display: inline-block;
}

.dzial.over {
  background-image: url('../images/BG_Dark_80.png');
  background-position: 0 0;
  background-size: auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: -45px;
}

.dzial.over.invert {
  background-color: var(--light-grey);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background-image: none;
  background-size: auto;
  background-attachment: scroll;
  position: relative;
}

.dzial.kontakt {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.zakladka {
  color: var(--white);
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.zakladka.invert {
  color: var(--black);
}

.ar {
  width: 32px;
  margin-left: 257px;
}

.ar.rafal {
  margin-left: 182px;
}

.osoba {
  margin-bottom: 20px;
  display: inline-block;
}

.container-4, .container-5 {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.osoba_block {
  margin-top: 20px;
}

.section-2 {
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  overflow: hidden;
}

.section-2.dark {
  -webkit-backdrop-filter: contrast(200%);
  backdrop-filter: contrast(200%);
  background-image: url('../images/BG_Dark_80.png');
  background-size: auto;
  background-attachment: fixed;
  overflow: hidden;
}

.section-2.dark._2 {
  padding-bottom: 20px;
  display: none;
}

.section-2._0 {
  padding-bottom: 0;
}

.txt {
  text-align: justify;
}

.txt._40 {
  text-align: justify;
  margin-top: 40px;
}

.container-6 {
  justify-content: space-around;
}

.s60 {
  height: 60px;
  display: flex;
  overflow: hidden;
}

.s60.nagrody {
  display: none;
}

.s60.podstrona {
  margin-top: 60px;
}

.s60.podstrona.dark {
  background-image: url('../images/BG_Dark_80.png');
  background-position: 0 0;
  background-size: auto;
  margin-top: 0;
}

.s60.podstrona.dark._1 {
  margin-top: 0;
  padding-top: 120px;
}

.s60.podstrona.dark._120 {
  height: 120px;
}

.section-3 {
  padding-top: 60px;
}

.container-7 {
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
}

.div-block-4 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo_kontakt {
  width: 200px;
  max-width: 200px;
}

.section_stopka {
  background-image: url('../images/bg_len.jpg');
  background-position: 0 0;
  background-size: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-5 {
  background-image: url('../images/bg_len_black.jpg');
  background-position: 0 0;
  background-size: auto;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.text-span-3 {
  color: red;
  font-family: gill-sans-nova, sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.text-span-4 {
  color: var(--black);
  font-family: gill-sans-nova, sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.link {
  color: var(--black);
  font-size: 20px;
  text-decoration: none;
  transition: opacity .2s;
  position: relative;
}

.link:hover {
  opacity: .55;
}

.link._2 {
  top: -8px;
}

.dots {
  border-left: 1px dashed #000;
  height: 202px;
}

.dots.stopka {
  height: 80px;
}

.div-block-5 {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
}

.div-block-6 {
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  display: flex;
}

.paragraph-5 {
  align-self: center;
  margin-bottom: 0;
  font-family: gill-sans-nova, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.paragraph-6 {
  line-height: 16px;
}

.text-span-5 {
  font-size: 20px;
}

.link-block {
  opacity: .55;
  color: var(--white);
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 16px;
  font-weight: 300;
  transition: opacity .2s;
}

.link-block:hover {
  opacity: 1;
}

.podmenu_projekty {
  flex-flow: column wrap;
  align-items: flex-end;
  display: none;
}

.div-block-8 {
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: auto;
  display: flex;
}

.container-8 {
  flex: 1;
  align-items: flex-end;
  display: flex;
}

.container-8.up {
  align-items: flex-start;
}

.image-4 {
  z-index: -1;
  opacity: .5;
  mix-blend-mode: color-burn;
  width: 300px;
  margin-top: 406px;
  margin-left: -7%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-5 {
  opacity: .5;
  mix-blend-mode: color-burn;
  width: 300px;
  margin-top: 221px;
  padding-right: 4%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.bg_lottie_loop {
  z-index: -2;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-6 {
  align-self: auto;
  width: 42px;
}

.paragraph-7 {
  margin-bottom: 0;
  font-weight: 400;
}

.paragraph-8 {
  flex: 0 auto;
  align-self: center;
  margin-bottom: 0;
}

.google-maps {
  margin-bottom: -4px;
  overflow: hidden;
}

.section-6 {
  padding-top: 60px;
  padding-bottom: 120px;
  overflow: hidden;
}

.div-block-11 {
  align-self: center;
}

.txt-footer {
  color: #b4b4b4;
  text-transform: uppercase;
  font-size: 10px;
}

.text-block-3 {
  color: var(--white);
  font-size: 11px;
}

.text-span-6 {
  white-space: nowrap;
  font-family: gill-sans-nova, sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.link-2 {
  font-size: 24px;
  font-weight: 600;
  transition: opacity .2s;
}

.link-2:hover {
  opacity: .55;
}

.link-3 {
  font-size: 26px;
  font-weight: 600;
  transition: opacity .2s;
}

.link-3:hover {
  opacity: .55;
}

.image-7 {
  border-radius: 5px;
  width: 65px;
  transition: opacity .2s;
}

.div-fv {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.paragraph-9 {
  text-align: right;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 14px;
  line-height: 16px;
}

.image-8 {
  margin-top: -7px;
}

.link-block-2 {
  opacity: .55;
  filter: invert();
  -webkit-text-fill-color: inherit;
  background-color: #fff;
  background-image: url('../images/Vimeo.png');
  background-position: 50%;
  background-size: auto;
  background-clip: border-box;
  border-radius: 5px;
  align-self: flex-start;
  width: 66px;
  height: 20px;
  transition: opacity .2s;
  overflow: hidden;
}

.link-block-2:hover {
  opacity: 1;
}

.link-block-3 {
  opacity: .7;
  margin-bottom: 12px;
}

.link-block-3:hover {
  opacity: 1;
}

.image-9 {
  width: 42px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.image-10 {
  opacity: .66;
  width: 42px;
  margin: 10px;
  transition: opacity .2s;
}

.image-10:hover {
  opacity: 1;
}

.div-block-13 {
  align-self: center;
  margin-top: 20px;
  position: relative;
}

.div-block-14 {
  border-top: 1px dashed #000;
  width: 100%;
  height: 0;
  margin-top: 20px;
}

.zadzwon-teraz {
  z-index: 8;
  position: fixed;
}

.zadzwon {
  border: 2px solid var(--white);
  background-color: red;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  margin-bottom: 140px;
  margin-right: 40px;
  transition: height .3s, width .3s;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  box-shadow: -3px 10px 11px -5px rgba(9, 43, 59, .6);
}

.zadzwon:hover {
  width: 75px;
  height: 75px;
  box-shadow: -3px 12px 20px -7px rgba(9, 43, 59, .85);
}

.div-block-15 {
  border-bottom: 1px dashed #bbb;
  flex: 1;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.div-block-15.last {
  border-bottom-style: none;
}

.image-11 {
  width: 500px;
  max-width: 500px;
}

.div-block-17 {
  margin-left: 20px;
}

.paragraph-10 {
  color: var(--white);
  max-width: 420px;
}

.div-block-18 {
  margin-bottom: 20px;
}

.link_kategoria {
  width: 300px;
  max-width: 100%;
  margin: 5px;
}

.link_kategoria.main {
  width: 920px;
}

.link_kategoria.off {
  cursor: default;
}

.immage_grid {
  border-radius: 18px;
  width: 300px;
  padding: 10px 10px 5px;
  overflow: hidden;
}

.immage_grid.ar_cd {
  padding: 40px;
}

.div_grid {
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.div_grid._0 {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.div_grid._0.white {
  background-color: var(--white);
  border-radius: 18px;
}

.div_grid.home {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.heading-2.white {
  color: #fff;
}

.div-block-90 {
  border-radius: 12px;
}

.box-kategoria-tytul {
  flex-direction: column;
  align-self: stretch;
  display: flex;
  overflow: hidden;
}

.box-kategoria-tytul.zespol {
  border-radius: 20px;
  align-items: center;
  max-width: 1200px;
  height: auto;
}

.podpis {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px 10px;
  font-size: 22px;
  line-height: 26px;
}

.bg_loop {
  z-index: -2147483648;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bg {
  background-image: url('../images/HomePage_1.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bg._2 {
  background-image: url('../images/HomePage_3.jpg');
}

.bg._3 {
  background-image: url('../images/HomePage_4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg._4 {
  background-image: url('../images/HomePage_2.jpg');
}

.bg._5 {
  background-image: url('../images/HomePage_5.jpg');
}

.kompleks {
  width: 100%;
  max-width: 100%;
}

.dv-kompleks {
  height: 400px;
  padding: 10px 10px 5px;
  overflow: hidden;
}

.dv-fc {
  background-image: url('../images/billboard_mockup.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 385px;
}

.paragraph-11 {
  font-size: 20px;
}

.logo {
  background-color: #fff;
  border-radius: 18px;
  width: 300px;
  margin: 5px;
  padding: 80px;
}

.logo._1 {
  margin: 0;
}

.logo._40 {
  padding: 40px;
}

.logo._40.red {
  background-color: #ff023d;
}

.logo.facelab {
  padding: 60px;
}

.logo._20 {
  padding: 20px;
}

.logo._60 {
  padding: 60px;
}

.logo._30 {
  padding: 30px;
}

.logo._50 {
  padding: 50px;
}

.logo._70 {
  padding: 70px;
}

.logo._0 {
  background-color: rgba(0, 0, 0, 0);
  width: auto;
  max-height: 400px;
  padding: 60px 60px 40px;
}

.logo._0._60 {
  padding: 0 60px;
}

.logo._0._60._200 {
  width: 250px;
  padding-bottom: 0;
}

.logo.rodzina {
  background-color: rgba(0, 0, 0, 0);
}

.div-block-92 {
  background-color: var(--white);
  border-radius: 18px;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-height: 300px;
  margin: 5px;
  display: inline-block;
}

.web {
  border-radius: 14px;
  width: 100vw;
  transition: transform .2s, box-shadow .2s;
}

.web:hover {
  transform: translate(0, -5px);
  box-shadow: 6px 6px 16px rgba(0, 0, 0, .68);
}

.link-web {
  margin-bottom: 20px;
}

.dropdown-toggle {
  color: var(--white);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 30px;
  font-family: fira-sans, sans-serif;
  font-size: 14px;
  transition: transform .2s, opacity .2s;
}

.dropdown-toggle:hover {
  opacity: .5;
  transform: translate(0, -5px);
}

.dropdown-list {
  background-color: rgba(0, 0, 0, 0);
}

.dropdown-list.w--open {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background-image: url('../images/bg_len_black.jpg');
  background-position: 0 0;
  background-size: auto;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  display: flex;
  overflow: hidden;
}

.dropdown {
  color: var(--white);
}

.dropdown-link {
  color: var(--white);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  transition: transform .2s, opacity .2s;
}

.dropdown-link:hover {
  opacity: .5;
  transform: translate(0, -5px);
}

.dropdown-link.w--current {
  color: var(--white);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  transition: transform .2s, opacity .2s;
}

.dropdown-link.w--current:hover {
  opacity: .5;
  transform: translate(0, -5px);
}

.icon-2 {
  margin-right: 10px;
}

.hover-move {
  opacity: .85;
  background-image: url('../images/bg_len_black.jpg');
  background-position: 0 0;
  background-size: auto;
  border-radius: 18px;
  transition: opacity .2s, transform .2s, opacity .2s;
  overflow: hidden;
  box-shadow: 1px 1px 3px #000;
}

.hover-move:hover {
  opacity: 1;
  transform: translate(0, -5px);
  box-shadow: 6px 6px 12px -2px rgba(0, 0, 0, .5);
}

.hover-move.off {
  box-shadow: none;
  transition-property: none;
}

.hover-move.off:hover {
  box-shadow: none;
  opacity: .85;
  transform: none;
}

.link-txt {
  text-align: center;
  position: relative;
  top: -38px;
}

.link-txt.dark {
  color: var(--black);
}

.obraz {
  justify-content: space-around;
  max-width: 1420px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.obraz.c {
  text-align: center;
}

.obraz.c._30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.obraz.corners {
  border-radius: 18px;
  overflow: hidden;
}

.obraz.corners.pading-20 {
  width: 100vw;
  max-width: 1420px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video.size {
  background-image: url('../images/bg_len_black.jpg');
  background-position: 0 0;
  background-size: auto;
  border-radius: 16px;
  flex-direction: column;
  width: 95%;
  max-width: 1280px;
  padding: 20px;
  overflow: hidden;
}

.video.size._2 {
  width: 150%;
  max-width: 400px;
  margin-right: 40px;
  padding: 10px;
}

.html-embed-3 {
  width: 100%;
  height: 100%;
}

.background-video {
  z-index: 1;
  height: 0%;
  padding-top: 56.25%;
}

.div-block-93 {
  height: 0;
  padding-top: 56.25%;
}

.paragraph-12 {
  font-size: 19px;
}

.heading-3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.heading-4 {
  font-size: 16px;
  font-weight: 600;
}

.image-15 {
  border-radius: 18px;
}

.container-9 {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.container-9.centerp {
  align-items: center;
}

.head-title {
  margin-top: 0;
}

.opis-projektu {
  width: 100vw;
  padding-right: 40px;
}

.opis-projektu._0 {
  padding-right: 0;
}

.podtytu, .paragraph-13 {
  font-size: 20px;
  line-height: 26px;
}

.paragraph-14 {
  font-size: 20px;
}

.opis-projektu-txt {
  max-width: 75vw;
}

.heading-5 {
  color: var(--white);
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.haslo {
  text-align: center;
  letter-spacing: 6px;
  text-indent: -10px;
  white-space: nowrap;
  mix-blend-mode: multiply;
  font-family: gill-sans-nova, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
}

.on-logo {
  transition: opacity .2s, transform .2s;
}

.on-logo:hover {
  opacity: .8;
  transform: translate(0, 3px);
}

._10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

._10._2 {
  margin-top: 0;
}

.video-2 {
  display: none;
}

.div-block-95 {
  overflow: hidden;
}

.video-holder {
  flex-direction: column-reverse;
  align-items: center;
  width: 100vw;
  margin-top: 40px;
  display: flex;
  overflow: hidden;
}

.video-holder._2 {
  flex-direction: row-reverse;
  justify-content: center;
}

._602 {
  align-items: center;
  width: 100vw;
  height: 60px;
  display: flex;
}

._602.invert {
  background-image: url('../images/BG_Dark_80.png');
  background-position: 0 0;
  background-size: auto;
}

.text-span-8 {
  font-style: italic;
}

.center {
  flex-direction: row;
  align-items: flex-start;
  width: 960px;
  display: flex;
}

.div-block-96 {
  max-width: 1420px;
}

.image-17 {
  margin: 20px;
}

.block-h3 {
  width: 100vw;
}

.list-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.div-block-97 {
  width: 100vw;
  padding-right: 60px;
}

.video-3 {
  height: 0%;
}

.obraz_spad {
  width: 100vw;
  overflow: hidden;
}

.image-19 {
  width: 65vw;
  max-width: 960px;
}

.text-span-9 {
  font-style: italic;
  font-weight: 700;
}

.container-10 {
  margin-bottom: 10px;
}

.div-block-98 {
  border-top: 1px dashed #000;
  width: 100vw;
  height: 0;
}

@media screen and (max-width: 991px) {
  .nav-link {
    font-size: 18px;
  }

  .nav-menu {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, .7);
    justify-content: space-around;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    position: absolute;
  }

  .menu-button {
    float: left;
  }

  .menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .icon {
    color: #fff;
  }

  .container-2 {
    height: auto;
  }

  .paragraph {
    text-indent: -3px;
    margin-left: -1px;
    font-size: 31px;
  }

  .paragraph-2 {
    width: 670px;
    margin-top: 21px;
  }

  .misja {
    flex-direction: column;
    align-items: center;
    margin-top: -414px;
    display: flex;
  }

  .witamy {
    width: 720px;
  }

  .lottie {
    width: 100vw;
  }

  .lottie-animation {
    flex: none;
    width: 750px;
  }

  .txt._40 {
    margin-top: 20px;
  }

  .container-7 {
    justify-content: space-between;
  }

  .logo_kontakt {
    width: 100px;
  }

  .podmenu_projekty {
    padding-left: 0;
  }

  .image-4, .image-5 {
    width: 200px;
  }

  .div-fv {
    flex-direction: column;
  }

  .paragraph-9 {
    text-align: left;
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 12px;
  }

  .link-block-2 {
    align-self: flex-start;
    top: 5px;
  }

  .link_kategoria.main {
    width: 610px;
  }

  .immage_grid {
    max-width: 300px;
  }

  .div_grid.home {
    text-align: center;
  }

  .zespol_box {
    align-self: center;
    width: 100%;
    min-width: auto;
  }

  .box-kategoria-tytul.zespol.administracja {
    border-radius: 0;
    min-width: auto;
  }

  .logo._0 {
    width: 50%;
    padding-top: 0;
  }

  .dropdown-toggle {
    padding-left: 10px;
    font-size: 18px;
  }

  .dropdown-list.w--open {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    white-space: normal;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-size: auto;
    flex-wrap: wrap;
    padding-left: 0;
    display: flex;
  }

  .dropdown {
    flex-flow: column wrap;
    align-items: flex-start;
    display: block;
  }

  .dropdown-link, .dropdown-link.w--current {
    font-size: 14px;
  }

  .video.size {
    padding: 15px;
  }

  .html-embed-3 {
    margin-bottom: 0;
  }

  .image-15 {
    border-radius: 0;
  }

  .container-9.centerp {
    align-items: flex-start;
  }

  .head-title.h2 {
    font-size: 32px;
    line-height: 36px;
  }

  .opis-projektu {
    padding-left: 20px;
  }

  .opis-projektu-txt {
    max-width: 100vw;
  }

  .haslo {
    text-indent: -3px;
    font-size: 31px;
    line-height: 38px;
  }

  ._10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  ._10._2 {
    max-width: 40%;
    margin-top: 0;
    padding-left: 0;
  }

  .center {
    width: 720px;
  }

  .div-block-97 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .obraz_spad {
    overflow: hidden;
  }

  .image-19 {
    width: 85vw;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    padding-left: 40px;
    font-size: 20px;
  }

  .nav-menu {
    justify-content: flex-start;
    display: block;
    overflow: scroll;
  }

  .paragraph {
    letter-spacing: 12px;
    white-space: normal;
    max-width: 520px;
    margin-left: 0;
    font-size: 26px;
    line-height: 32px;
  }

  .paragraph-2 {
    width: auto;
    max-width: 520px;
  }

  .paragraph-3 {
    letter-spacing: 3px;
    font-size: 12px;
  }

  .misja {
    flex-direction: column;
    align-items: center;
    margin-top: -535px;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
  }

  .witamy {
    width: auto;
  }

  .lottie {
    overflow: hidden;
  }

  .image-2 {
    width: 300px;
  }

  .paragraph-4 {
    letter-spacing: 6px;
    margin-top: -14px;
    font-size: 50px;
  }

  .lottie-animation {
    width: 480px;
  }

  .lottie-animation-2 {
    overflow: hidden;
  }

  .section-2._30 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .txt, .txt._40 {
    text-align: left;
  }

  .container-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-6._2 {
    padding-left: 0;
    padding-right: 0;
  }

  .section-3 {
    display: flex;
  }

  .container-7 {
    flex-direction: column;
    align-items: center;
  }

  .div-block-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .logo_kontakt {
    width: 100px;
  }

  .link {
    font-size: 25px;
  }

  .link._2._3 {
    font-size: 20px;
  }

  .dots {
    border-top: 1px dashed #000;
    border-left-style: none;
    align-self: center;
    width: 100%;
    max-width: 300px;
    height: 0;
    margin-top: 36px;
  }

  .dots.stopka {
    max-width: 230px;
    height: 0;
    margin-top: 0;
  }

  .div-block-6 {
    align-self: center;
    align-items: center;
  }

  .paragraph-5 {
    text-align: center;
    margin-top: 33px;
  }

  .paragraph-6 {
    text-align: center;
    margin-top: 40px;
  }

  .container-8 {
    padding-left: 30px;
  }

  .image-4, .image-5 {
    width: 150px;
  }

  .paragraph-7, .paragraph-8 {
    text-align: center;
  }

  .section-6 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .link-2 {
    font-size: 30px;
  }

  .div-block-13 {
    align-self: center;
    left: 0;
  }

  .zadzwon {
    margin-bottom: 240px;
    margin-right: 10px;
  }

  .div-block-15 {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .image-11 {
    width: 100%;
  }

  .div-block-17 {
    margin-left: 0;
  }

  .paragraph-10 {
    text-align: center;
  }

  .div-block-18 {
    justify-content: center;
    margin-top: 20px;
    display: flex;
  }

  .image-12 {
    max-width: 150px;
    position: relative;
    left: -14px;
  }

  .image-13 {
    max-width: 150px;
    position: relative;
    left: 16px;
  }

  .image-14 {
    max-width: 150px;
  }

  .link_kategoria, .link_kategoria.main {
    width: 300px;
  }

  .immage_grid {
    min-width: auto;
  }

  .div_grid._0 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .box-kategoria-tytul {
    align-self: stretch;
  }

  .box-kategoria-tytul.zespol {
    min-width: auto;
    max-width: none;
  }

  .text-span-7 {
    font-size: 22px;
  }

  .dv-kompleks {
    height: 295px;
  }

  .dv-fc {
    height: 280px;
  }

  .logo._0 {
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 0;
  }

  .dropdown-list.w--open {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background-image: none;
    background-size: auto;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
  }

  .dropdown {
    padding-left: 30px;
  }

  .dropdown-link {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .obraz.c {
    max-width: 100%;
    display: flex;
  }

  .obraz.corners.pading-20 {
    padding-left: 0;
    padding-right: 0;
  }

  .video.size {
    padding: 10px;
  }

  .video.size._2 {
    max-width: 350px;
    margin-right: 0;
  }

  .html-embed-3 {
    background-color: #333;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 7px;
    overflow: hidden;
  }

  .pading-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-9 {
    flex-direction: column;
    align-items: center;
  }

  .container-9.centerp {
    align-items: center;
  }

  .opis-projektu {
    padding-left: 40px;
  }

  .opis-projektu._0 {
    margin-bottom: 0;
    padding-right: 40px;
  }

  .opis-projektu-txt {
    max-width: 100vw;
  }

  .haslo {
    letter-spacing: 12px;
    white-space: normal;
    font-size: 26px;
    line-height: 32px;
  }

  ._10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  ._10._2 {
    max-width: 350px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .center {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .block-h3, .div-block-97 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .image-150 {
    max-width: 150%;
  }

  .image-120 {
    max-width: 120%;
  }
}

@media screen and (max-width: 479px) {
  .paragraph {
    letter-spacing: 6px;
    font-size: 26px;
    line-height: 30px;
  }

  .container-3 {
    align-items: center;
  }

  .paragraph-2 {
    text-align: left;
  }

  .paragraph-3 {
    text-align: center;
  }

  .misja {
    max-width: 100vw;
    margin-top: 0;
  }

  .lottie {
    align-items: center;
    width: 100vw;
    height: auto;
    margin-top: -14px;
    overflow: hidden;
  }

  .image-2 {
    width: 200px;
  }

  .paragraph-4 {
    letter-spacing: 3px;
    font-size: 35px;
  }

  .lottie-animation {
    width: 450px;
    margin-left: 40px;
    display: none;
  }

  .lottie-animation-2 {
    flex: 0 auto;
    width: 100vw;
    max-width: 420px;
    margin-left: -9px;
    display: block;
  }

  .ar {
    display: none;
  }

  .paragraph-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .podmenu_projekty {
    text-align: center;
    margin-top: 40px;
  }

  .div-block-8 {
    flex-direction: column-reverse;
    align-items: center;
  }

  .paragraph-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-12 {
    margin-left: 0;
  }

  .immage_grid {
    max-width: 100%;
  }

  .logo {
    margin-left: 0;
    margin-right: 0;
    padding: 10% 15% 15%;
  }

  .logo._40 {
    padding: 10%;
  }

  .logo.l, .logo._60 {
    padding: 15%;
  }

  .logo._30 {
    padding: 10%;
  }

  .logo._50, .logo._70 {
    padding: 15%;
  }

  .logo._0 {
    width: 80%;
  }

  .obraz.c._0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .video.size {
    border-radius: 0;
    width: 100%;
    padding: 0;
  }

  .video.size._2 {
    width: 100vw;
    max-width: none;
    padding: 0;
  }

  .html-embed-3 {
    border-radius: 10px;
    padding: 3px;
  }

  .container-9 {
    flex-direction: column;
  }

  .haslo {
    letter-spacing: 6px;
  }

  ._10._2 {
    max-width: none;
    padding-left: 30px;
    padding-right: 30px;
  }

  .video-holder {
    margin-top: 20px;
  }

  ._602._0 {
    display: none;
  }

  .center {
    flex-direction: column;
    align-items: stretch;
  }
}


@font-face {
  font-family: 'Sundaylove';
  src: url('../fonts/SundayloveBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sundaylove';
  src: url('../fonts/Sundaylove.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}